<%- include ('partials/head', {style: 'usStyles' , title: 'Quienes Somos' }) %>
</head>

<body>
    <%- include ('partials/header') %>
    <main>
     <section class="who-we-are">
        <h1 class="resumeText">Quienes somos, visión, misión, qué hacemos...</h1>
            <div class="text">
                <p class="description">Somos una empresa joven y en continuo crecimiento. La seguridad con la que se
                    trabaja
                    es altamente calificada. Contamos con un equipo profesional que responde en cualquier circunstancia.
                    Diagramamos programas que contemplan las exigentes expectativas de todo tipo de viajero, durante
                    todo
                    el año, brindando una variedad de servicios de aventura, desde propuestas sencillas, hasta travesías
                    y ascensos para aquellos que se animan a más. Nos ponemos a tu entera disposición para acompañarte
                    en tu desafío de Turismo Aventura.<span>&#160;</span>
                </p>
            </div>
        </section>   
        
    </main>
    <%- include ('partials/footer') %>