<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Recibí nuestras novedades</h4>
                <ul>
                    <form action="">
                        <div class="email-box">
                            <i class="fa-solid fa-envelope"></i>
                            <input class="tbox" type="email" name="" value="" placeholder="Ingresa tu email">
                            <button class="btn" type="button" name="button">Suscribite</button>
                        </div>
                    </form>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/us">Quienes somos</a></li>
                    <li><a href="/productsDetail">Actividades</a></li>
                    <li><a href="#">Seguridad</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Redes Sociales</h4>
                <div class="redes-sociales">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></i></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>



